@using Microsoft.AspNetCore.Components.Web
@namespace blazorblog.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="/css/normalize.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <div id='page'>
        <header>
            <h1>JOSHUA AQUINO</h1>
            <div>
                <a href="./">Home</a>
                &nbsp
                <a href="./blog">Blog</a>
                &nbsp
	|
                &nbsp
                <a href="https://github.com/joshua-aquino/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                &nbsp
                <a href="https://www.linkedin.com/in/joshua-aquino-66b680194/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </div>
        </header>
        @RenderBody()
    </div>
    <footer>
        <p>
            Many thanks to <a target="_blank" href="https://www.pexels.com/@@erychist/">Eriks Cistovs</a> for the incredible background.
            What a photographer, huh?
        </p>
  </footer>
<script src="/static/script.js"></script>
<script src="https://kit.fontawesome.com/41aeeab5c9.js" crossorigin="anonymous"></script>
<script src="_framework/blazor.server.js"></script>
</body>
</html>
