@page "/"

    @foreach(var post in posts)
    {
        <section>
            <div class="padded">
                <div class="row">
                    <div class="one-third column">
                        <img src="img/articles/@post.Image">
                    </div>
                    <div class="two-thirds column">
                        <hgroup>
                            <a href="/article/@post.Id">
                                <h2>@post.Title</h2>
                                <h3>@post.Introduction</h3>
                            </a>
                        </hgroup>
                    
                        @((MarkupString)@post.Body)
                    </div>
                </div>
            </div>
        </section>
    }

@using blazorblog.Data;
@inject IConfiguration configuration;
@code {
    private BbDbContext _context;
    public List<blazorblog.Data.Post> posts;
    protected override async Task OnInitializedAsync()
    {
        _context = new BbDbContext(configuration);
        posts = _context.Posts.ToList();
    }
}
