@page "/"

<PageTitle>Blazor Blog</PageTitle>

<div class="container">
    @foreach(var post in posts)
    {
        <a href="/article/@post.Id">
            <h2>@post.Title</h2>
            <img src="img/articles/@post.Image">
            <h3>@post.Introduction</h3>
            <p>@post.Body</p>
            <hr />
            <br />
        </a>
    }
</div>

@using blazorblog.Data;
@inject IConfiguration configuration;
@code {
    private BbDbContext _context;
    public List<blazorblog.Data.Post> posts;
    protected override async Task OnInitializedAsync()
    {
        _context = new BbDbContext(configuration);
        posts = _context.Posts.ToList();
    }
}
