@page "/"

<PageTitle>Blazor Blog</PageTitle>

<div class="container">
    @foreach(var post in posts)
    {
        <h1>@post.Title</h1>
        <h2>@post.Introduction</h2>
        <p>@post.Body</p>
        <hr />
        <br />
    }
</div>

@using blazorblog.Data;
@inject IConfiguration configuration;
@code {
    private BbDbContext _context;
    public List<Post> posts;
    protected override async Task OnInitializedAsync()
    {
        _context = new BbDbContext(configuration);
        posts = _context.Posts.ToList();
    }
}
