@page "/"

<section>
    <div class="padded">
            <h2>Places</h2>
            <h3>This is a list of places I like.</h3>
            <ol>
                 <li>
                    <a target="_blank" href="https://canvas.unf.edu/">canvas</a>
                    <a target="_blank" href="https://app.joinhomebase.com/profile">homebase</a>
                    <a target="_blank" href="https://web.groupme.com/chats">groupme</a>
                    <a target="_blank" href="https://mail.proton.me/u/0/inbox">protonmail</a>
                    <a target="_blank" href="https://discord.com/channels/@@me">discord</a>
                    <a target="_blank" href="https://www.instagram.com/direct/inbox/">instagram</a>
                    <a target="_blank" href="https://www.facebook.com/messages/">facebook</a>
                </li>
               <li>
                    <a target="_blank" href="https://idiomdrottning.org/">idiomdrottning</a>
                    <a target="_blank" href="https://bakadesuyo.com/search/">bakadesuyo</a>
                    <a target="_blank" href="https://sadgrl.online/chatbox">sadgrl chatbox</a>
                    <a target="_blank" href="https://lukesmith.xyz/">lukesmith</a>
                </li>
            </ol>
</div>
</section>
<section>
    <div class="padded">
		<h2>Things</h2>
		<h3>This is a list of things I made.</h3>
</div>
</section>

@using blazorblog.Data;
@inject IConfiguration configuration;
@code {
    private BbDbContext _context;
    public MarkupString testString = (MarkupString)"abcdefghijklmnopqrstuvwxyabcdefghijklmnopqrstuvwxy";
    public List<blazorblog.Data.Post> posts;
    protected override async Task OnInitializedAsync()
    {
        _context = new BbDbContext(configuration);
        posts = _context.Posts.ToList();
    }
}
