@page "/blog/{id:int}"
<section>
    <div class="padded">
		<h2>@post.Title</h2>
		<h3>@post.Introduction</h3>
        <img src="img/blog/@post.Image">
        @((MarkupString)@post.Body)
    </div>
</section>

@using blazorblog.Data;
@inject IConfiguration configuration;
@code {
    [Parameter]
    public int id {get;set;}
    private BbDbContext _context;
    public blazorblog.Data.Post post;
    protected override async Task OnInitializedAsync()
    {
        _context = new BbDbContext(configuration);
        post = _context.Posts.Where(x => x.Id == id).FirstOrDefault();
    }
}
